

<h1> Post #<%=@post.id%> </h1>

<li>

  <%= link_to @post.title, @post.url %>

  <%@post.comments.each do |comment|%>

    <%=comment.text%>

    <%=comment.user.username%>

    <%end%>

</li>

<%= link_to 'edit', edit_post_path %>

<%= link_to 'destroy', post_path(@post),
                      method: :delete, data: { confirm: "Are you sure????"}

%>

<%= link_to 'Back', posts_path %>
